/* Estilo do corpo da página */
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding-top: 2rem;
  margin: 0;
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-conexao-gradiente_23-2150462053.jpg?semt=ais_hybrid&w=740");
  background-size: cover;
  background-position: center;
  color: #333;
}

/* Título do formulário */
h1 {
  text-align: center;
  font-size: 24px;
  color: #004271;
  margin-bottom: 2rem;
  font-weight: bold;
}

/* Centralização do formulário */
.box-center {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formulário */
.container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Explicação adicional sobre o formulário */
.container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo do formulário (labels e inputs) */
label {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

input {
  padding: 0.4rem;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0.4rem 0;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

/* Foco nos inputs */
input:focus {
  outline: none;
  border-color: #004271;
  background-color: #eef8ff;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Rodapé do formulário */
.form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-footer input {
  width: 48%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #004271;
  color: white;
  transition: all 0.3s ease;
}

.form-footer :nth-child(1) {
  background: none;
  border: 1px solid #004271;
  color: #003359;
}

.form-footer :nth-child(1):hover {
  background: none;
}

.form-footer input:hover {
  background-color: #003359;
}

/* Estilo do ícone de informações */
.info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #004271;
}

.info-tooltip {
  display: none;
  position: absolute;
  top: 25px;
  left: -246px;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.info-icon:hover .info-tooltip {
  display: block;
}

/* Modal de resultado */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 100px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  max-width: 350px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
}

/* Cores para o resultado */
.modal.aprovado .modal-content {
  border: 3px solid green;
  background-color: #e7f7e7;
}

.modal.reprovado .modal-content {
  border: 3px solid red;
  background-color: #f7e7e7;
}

.modal.avf .modal-content {
  border: 3px solid orange;
  background-color: #fff4e1;
}

/* Estilo do gif */
.gif {
  margin-top: 20px;
  max-width: 200px;
}

/* Botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Rodapé da página */
footer {
  position: static;
  bottom: 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 12px;
  color: #c7c7c7;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }

  .modal-content {
    width: 70%;
  }
}
