/* Estilo do corpo da página */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding-top: 2rem;
  margin: 0;
  background-image: url("/9019808.jpg");
  background-size: cover;
  background-position: center;
}

input {
  padding: 0.8rem;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 1rem 0;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

/* Foco nos inputs */
input:focus {
  outline: none;
  border-color: #004271;
  background-color: #eef8ff;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

.required {
  color: red;
}

.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.form-footer input {
  width: 48%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #004271;
  color: white;
  transition: all 0.3s ease;
}

.form-footer input:hover {
  background-color: #004271;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
}

.info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #004271;
}

.info-tooltip {
  display: none;
  position: absolute;
  top: 25px;
  left: -246px;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.info-icon:hover .info-tooltip {
  display: block;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 100px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  max-width: 350px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  position: relative;
}

/* Cores para o resultado */
.modal.aprovado .modal-content {
  border: 3px solid green;
  background-color: #e7f7e7;
}

.modal.reprovado .modal-content {
  border: 3px solid red;
  background-color: #f7e7e7;
}

.modal.avf .modal-content {
  border: 3px solid orange;
  background-color: #fff4e1;
}

/* Estilo do gif */
.gif {
  margin-top: 20px;
  max-width: 200px;
}

/* Botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 12px;
  color: #c7c7c7;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 1rem;
  }

  .container {
    width: 90%;
  }

  .modal-content {
    width: 70%;
  }
}
